.debug-container { position: relative; overflow: hidden; }
.debug { border: solid 1px red; left: 0; top: 0; position: absolute; margin: 1px; z-index: 9999 }
.dbg-title { font-weight: bold; color: white; background-color: red; float: right; padding: 2px 4px; font-size: 18px; }
