<?xml version="1.0"?>
<!-- 
/**
 * @category   EM
 * @package    EM_Themeframework
 * @author     Emthemes
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <EM_Themeframework>
            <version>0.1.0</version>
        </EM_Themeframework>
    </modules>
    <frontend>
        <routers>
            <themeframework>
                <use>standard</use>
                <args>
                    <module>EM_Themeframework</module>
                    <frontName>themeframework</frontName>
                </args>
            </themeframework>
        </routers>
        <layout>
            <updates>
                <themeframework>
                    <file>em_themeframework.xml</file>
                </themeframework>
            </updates>
        </layout>
		<events>
			<controller_action_layout_generate_xml_before>
				<observers>
					<themeframework_change_layout>
						<type>singleton</type>
						<class>themeframework/observer</class>
						<method>changeLayoutEvent</method>
					</themeframework_change_layout>
				</observers>
			</controller_action_layout_generate_xml_before>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<themeframework_change_template>
						<type>singleton</type>
						<class>themeframework/observer</class>
						<method>changeTemplateEvent</method>
					</themeframework_change_template>
				</observers>
			</controller_action_layout_generate_blocks_after>
			<core_block_abstract_to_html_after>
				<observers>
					<designer>
						<class>themeframework/observer</class>
						<method>processAfterHtmlDispatch</method>
					</designer>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
    </frontend>
	<adminhtml>
		<menu>
			<!-- <system>
							<children>
								<em_themeframework module="themeframework">
									<title>EM ThemeFramework</title>
									<sort_order>35</sort_order>
									<children>
										<layout_manager>
											<title>Layout Manager</title>
											<sort_order>1</sort_order>
											<action>themeframework_admin/adminhtml_area</action>
										</layout_manager>
										<page_manager>
											<title>Page Manager</title>
											<sort_order>2</sort_order>
											<action>themeframework_admin/adminhtml_page</action>
										</page_manager>
									</children>
								</em_themeframework>
							</children>
						</system> -->
			<emthemes translate="title">
				<title>EMThemes</title>
				<sort_order>72</sort_order>
				<children>
					<visual_content_editor module="themeframework" translate="title">
						<title>Visual Content Editor</title>
						<sort_order>110</sort_order>
						<action>themeframework_admin/adminhtml_area/previewBlock/</action>
					</visual_content_editor>
					
					<emthemeframework module="themeframework" translate="title">
						<title>EM Theme Framework</title>
						<sort_order>120</sort_order>
						<children>
							<layout_manager module="themeframework" translate="title">
								<title>Layout Design</title>
								<sort_order>10</sort_order>
								<action>themeframework_admin/adminhtml_area/</action>
							</layout_manager>
							<page_manager module="themeframework" translate="title">
								<title>Layout Update</title>
								<sort_order>20</sort_order>
								<action>themeframework_admin/adminhtml_page/</action>
							</page_manager>
						</children>
					</emthemeframework>
				</children>
			</emthemes>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system translate="title">
							<children>
								<em_themeframework>
									<title>Theme Framework Editor</title>
									<sort_order>30</sort_order>
									<children>
										<layout_manager>
											<title>Layout Manager</title>
											<sort_order>1</sort_order>
										</layout_manager>
										<page_manager>
											<title>Page Manager</title>
											<sort_order>2</sort_order>
										</page_manager>
									</children>
								</em_themeframework>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<themeframework>
					<file>em_themeframework.xml</file>
				</themeframework>
			</updates>
		</layout>
	</adminhtml>
    <admin>
        <routers>
            <themeframework>
				<use>admin</use>
                <args>
					<module>EM_Themeframework</module>
					<frontName>themeframework_admin</frontName>
                </args>
            </themeframework>
        </routers>
    </admin>
    <global>
        <models>
            <themeframework>
                <class>EM_Themeframework_Model</class>
                <resourceModel>themeframework_resource</resourceModel>
            </themeframework>
            <themeframework_resource>
                <class>EM_Themeframework_Model_Resource</class>
                <entities>
                    <area>
                        <table>themeframework_area</table>
                    </area>
					<area_store>
						<table>themeframework_area_store</table>
					</area_store>
					<page>
                        <table>themeframework_page</table>
                    </page>
					<page_store>
						<table>themeframework_page_store</table>
					</page_store>
                </entities>
            </themeframework_resource>
        </models>
        <resources>
            <themeframework_setup>
                <setup>
                    <module>EM_Themeframework</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </themeframework_setup>
            <themeframework_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </themeframework_write>
            <themeframework_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </themeframework_read>
        </resources>
        <blocks>
            <themeframework>
                <class>EM_Themeframework_Block</class>
            </themeframework>
        </blocks>
        <helpers>
            <themeframework>
                <class>EM_Themeframework_Helper</class>
            </themeframework>
        </helpers>
        <default>
            <themeframework>
                <wysiwyg>
                    <enabled>enabled</enabled>
                </wysiwyg>
            </themeframework>
        </default>
    </global>
    <default>
        <themeframework>
            <general>
            </general>
        </themeframework>
    </default>
</config>